.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.meta {
    height: 300px;
    overflow-y: scroll;
}

mat-accordion {
    width: 70%;
}

mat-expansion-panel-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    padding-left: 20px;
}

.upload {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    padding: 10px;
}

button {
    margin-top: 10px;
    margin-right: 10px;
}

mat-card {
    margin-top: 20px;
}

mat-card-actions {
    margin-left: 5px;
}

table {
    width: 100%;
}

mat-icon {
    margin-right: 10px;
}