<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-progress-bar *ngIf="globals.loading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class = "upload">
  <input style="display: none" type="file" accept="image/*" alife-file-to-base64 multiple (onFileChanged)="onFileChanged($event)" #fileInput>
  <button mat-raised-button (click)="fileInput.click()">Extraire des métadonnées</button>
  <mat-card *ngIf="selectedFile">
      <mat-card-header>
          <mat-card-title>{{ selectedFile.name }}</mat-card-title>
          <mat-card-subtitle>Format : {{ type[1] }}</mat-card-subtitle>
      </mat-card-header>
      <img src="{{selectedFile.base64}}" width="100%" alt="Preview"/>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onUpload()">Extraire</button>
          <button mat-raised-button (click)="onCancel()">Annuler</button>
      </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="!globals.loading">
  <div class="list">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let md of metadata">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="data:image/{{md.type}};base64,{{md.base64}}" height="50" alt="Miniature"/>
            <h3>{{ md.name }}</h3>
          </mat-panel-title>
          <mat-panel-description>
            <h5>Date d'extraction : {{ md.date }}</h5>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="meta">
          <table>
            <tr *ngFor="let mdo of md.metadata | keyvalue">
              <td>
                <b>{{ mdo.key }}</b>
              </td>
              <td>
                {{ mdo.value }}
              </td>
            </tr>
          </table>
        </div>
        <br>
        <button mat-raised-button (click)="onClipboard(md.metadata)">
          <mat-icon>content_copy</mat-icon>Copier
        </button>
        <button mat-raised-button (click)="onMap(md.metadata['GPS Latitude'], md.metadata['GPS Longitude'], md.metadata)">
          <mat-icon>place</mat-icon>Localiser
        </button>
        <button mat-raised-button color="primary" (click)="onExport(md.name, md.metadata)">
          <mat-icon>file_download</mat-icon>Exporter
        </button>
        <button mat-raised-button color="warn" (click)="desactivate(md.mId)">
          <mat-icon>delete</mat-icon>Supprimer
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>