.login {
    display: flex;
    flex-direction: column;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  form {
    margin: auto;
    width: 30%;
    padding: 10px;
  }