<form class="login" [formGroup]="loginForm">
  <mat-form-field>
    <input matInput placeholder="Email" id="mail" name="mail" formControlName="mail" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Mot de passe" id="password" name="password" formControlName="password" required>
  </mat-form-field>
  <button mat-raised-button (click)="onLogin()">Se connecter</button>
</form>