<mat-progress-bar *ngIf="globals.loading" color="primary" mode="indeterminate"></mat-progress-bar>
<form *ngIf="!globals.loading" class="edit" [formGroup]="editForm">
  <mat-form-field>
    <input matInput placeholder="Nom" id="lastName" name="lastName" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" id="firstName" name="firstName" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput pattern="[0-9]*" placeholder="Age" id="age" name="age" formControlName="age">
  </mat-form-field>
  <mat-radio-group id="sex" name="sex" formControlName="sex">
    <mat-radio-button value="MALE">Homme</mat-radio-button>
    <mat-radio-button value="FEMALE">Femme</mat-radio-button>
    <mat-radio-button value="OTHER">Autre</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field>
    <input matInput type="tel" pattern="[0-9]*" placeholder="Téléphone" id="phone" name="phone" formControlName="phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse" id="address" name="address" formControlName="address">
  </mat-form-field>
  <button mat-raised-button (click)="onEdit()">Enregistrer les modifications</button>
  <button *ngIf="session.clientId" class="delete" mat-raised-button color="warn" (click)="onDisable()">Supprimer mon compte</button>
</form> 