<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-progress-bar *ngIf="globals.loading" color="primary" mode="indeterminate"></mat-progress-bar>
<mat-dialog-content *ngIf="!globals.loading" class="list">
  <mat-accordion>
    <div *ngIf="!metadata">
      <h3>Aucunes métadonnées trouvées.</h3>
    </div>
    <mat-expansion-panel *ngFor="let md of metadata">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="data:image/{{md.type}};base64,{{md.base64}}" height="50" alt="Miniature"/>
          <h3>{{ md.name }}</h3>
        </mat-panel-title>
        <mat-panel-description>
          <h5>Date d'extraction : {{ md.date }}</h5>
        </mat-panel-description>
        <h4 *ngIf="md.active">Statut : Activé</h4>
        <h4 *ngIf="!md.active">Statut : Désactivé</h4>
      </mat-expansion-panel-header>
      <div class="meta">
        <table>
          <tr *ngFor="let mdo of md.metadata | keyvalue">
            <td>
              <b>{{ mdo.key }}</b>
            </td>
            <td>
              {{ mdo.value }}
            </td>
          </tr>
        </table> 
      </div>
      <button mat-raised-button (click)="onClipboard(md.metadata)">
        <mat-icon>content_copy</mat-icon>Copier
      </button>
      <button mat-raised-button (click)="onMap(md.metadata['GPS Latitude'], md.metadata['GPS Longitude'], md.metadata)">
        <mat-icon>place</mat-icon>Localiser
      </button>
      <button mat-raised-button (click)="onExport(md.name, md.metadata)">
        <mat-icon>file_download</mat-icon>Exporter
      </button>
      <button *ngIf="md.active" mat-raised-button (click)="onDisable(md.mId)">
        <mat-icon>layers_clear</mat-icon>Désactiver
      </button>
      <button *ngIf="!md.active" mat-raised-button (click)="onEnable(md.mId)">
        <mat-icon>layers</mat-icon>Activer
      </button>
      <button mat-raised-button color="warn" (click)="onDelete(md.mId)">
        <mat-icon>delete</mat-icon>Supprimer
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!globals.loading && metadata">
  <button mat-raised-button (click)="onEnableAll(client)">
    <mat-icon>layers</mat-icon>Tout Activer
  </button>
  <button mat-raised-button (click)="onDisableAll(client)">
    <mat-icon>layers_clear</mat-icon>Tout Désactiver
  </button>
  <button color="warn" mat-raised-button (click)="onDeleteAll(client)">
      <mat-icon>delete</mat-icon>Tout supprimer
  </button>
</mat-dialog-actions>