.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

mat-accordion {
    width: 100%;
}

mat-expansion-panel-header {
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    padding-left: 20px;
}

h4 {
    margin-right: 20px;
}

.list button {
    margin-right: 10px;
    margin-top: 10px;
}

mat-dialog-actions {
    margin-top: 20px;
    margin-left: 20px;
}

.meta {
    height: 150px;
    overflow-y: scroll;
}

mat-icon {
    margin-right: 10px;
}