<mat-toolbar>
  <a *ngIf="!session.clientId && !session.userId" routerLink="/" (click)="ngOnInit()"><img src="assets/icon.png" height="42" width="42"></a>
  <a *ngIf="session.clientId && !session.userId" routerLink="/metadatalist"><img src="assets/icon.png" height="42" width="42"></a>
  <a *ngIf="!session.clientId && session.userId" routerLink="/searchclient"><img src="assets/icon.png" height="42" width="42"></a>
  <h2>APImage</h2>
  <button mat-button *ngIf="session.clientId && globals.isChoosed && router.url != '/metadatalist'" routerLink="/metadatalist">Mes métadonnées</button>
  <button mat-stroked-button *ngIf="session.clientId && globals.isChoosed && router.url == '/metadatalist'" routerLink="/metadatalist">Mes métadonnées</button>
  <button mat-button *ngIf="!session.clientId && globals.isChoosed && globals.isClient && router.url != '/signup'" routerLink="/signup">S'inscrire</button>
  <button mat-stroked-button *ngIf="!session.clientId && globals.isChoosed && globals.isClient && router.url == '/signup'" routerLink="/signup">S'inscrire</button>
  <button mat-button *ngIf="!session.clientId && !session.userId && globals.isChoosed && router.url != '/login'" routerLink="/login">Se connecter</button>
  <button mat-stroked-button *ngIf="!session.clientId && !session.userId && globals.isChoosed && router.url == '/login'" routerLink="/login">Se connecter</button>
  <button mat-button *ngIf="session.userId && globals.isChoosed && router.url != '/searchclient'" routerLink="/searchclient">Rechercher un client</button>
  <button mat-stroked-button *ngIf="session.userId && globals.isChoosed && router.url == '/searchclient'" routerLink="/searchclient">Rechercher un client</button>
  <button mat-button *ngIf="session.clientId && globals.isChoosed && router.url != '/editaccount'" [matMenuTriggerFor]="menuClient">Mon compte</button>
  <button mat-stroked-button *ngIf="session.clientId && globals.isChoosed && router.url == '/editaccount'" [matMenuTriggerFor]="menuClient">Mon compte</button>
  <mat-menu #menuClient="matMenu">
    <button mat-menu-item routerLink="/editaccount">Mon profil</button>
    <button mat-menu-item (click)="onLogout()">Se déconnecter</button>
  </mat-menu>
  <button mat-button *ngIf ="session.userId && globals.isChoosed && router.url != '/editaccount'" [matMenuTriggerFor]="menuUser">Mon compte</button>
  <button mat-stroked-button *ngIf ="session.userId && globals.isChoosed && router.url == '/editaccount'" [matMenuTriggerFor]="menuUser">Mon compte</button>
  <mat-menu #menuUser="matMenu">
    <button mat-menu-item routerLink="/editaccount">Mon profil</button>
    <button mat-menu-item (click)="onLogout()">Se déconnecter</button>
  </mat-menu>
  <div class="statut" *ngIf="globals.isChoosed && globals.isClient"><div>Client</div></div>
  <div class="statut" *ngIf="globals.isChoosed && !globals.isClient"><div>Administrateur</div></div>
</mat-toolbar>
<div *ngIf="!session.clientId && !session.userId && !globals.isChoosed" class="choosing">
  <button mat-stroked-button color="primary" (click)="onClient()" routerLink="/login">Client</button>
  <button mat-stroked-button (click)="onUser()" routerLink="/login">Administrateur</button>
</div>
<router-outlet></router-outlet>