h2 {
    margin-left: 16px;
    margin-right: 20px;
}

.mat-button {
    margin-left: 16px;
    min-width: min-content;
}

.mat-stroked-button {
    margin-left: 16px;
    min-width: min-content;
}

.choosing button {
    margin-left: 16px;
}

.choosing {
    margin-top: 50px;
    text-align: center;
}

.statut {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}