<form class="signup" [formGroup]="signupForm">
  <mat-form-field>
    <input matInput placeholder="Nom" id="lastName" name="lastName" formControlName="lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" id="firstName" name="firstName" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput pattern="[0-9]*" placeholder="Age" id="age" name="age" formControlName="age" ngModel maxlength="2" maxlength="3">
  </mat-form-field>
  <br>
  <mat-radio-group id="sex" name="sex" formControlName="sex">
    <mat-radio-button value="MALE">Homme</mat-radio-button>
    <mat-radio-button value="FEMALE">Femme</mat-radio-button>
    <mat-radio-button value="OTHER">Autre</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-form-field>
    <input matInput type="tel" pattern="[0-9]*" placeholder="Téléphone" id="phone" name="phone" formControlName="phone" ngModel minlength="10" maxlength="10">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Adresse" id="address" name="address" formControlName="address">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" id="mail" name="mail" formControlName="mail" required ngModel email>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Mot de passe" id="password" name="password" formControlName="password" required>
  </mat-form-field>
  <button mat-raised-button (click)="onSignup()">S'inscrire</button>
</form>