.form-apimage {
    display: flex;
    flex-direction: column;
}
  
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
  
.searchClientForm {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

td {
    padding-right: 20px;
}

.mat-raised-button {
    margin-top: 10px;
}

mat-accordion {
    width: 70%;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.result button {
    margin-right: 10px;
}

.search {
    margin-right: 10px;
    margin-left: 10px;
}

h4 {
    margin-right: 20px;
}

.fullsize {
    width: 94%;
}

.clientForm mat-form-field {
    margin-left: 10px;
}

input:disabled{
    color: black;  
}

mat-icon {
    margin-right: 10px;
}