<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-progress-bar *ngIf="globals.loading" color="primary" mode="indeterminate"></mat-progress-bar>
<form class="searchClientForm" [formGroup]="searchClientForm">
  <mat-form-field>
    <input matInput placeholder="Identifiant ou Nom du client" id="clientInfo" name="clientInfo" formControlName="clientInfo">
  </mat-form-field>
  <button class="search" mat-raised-button (click)="onSearch()">Rechercher</button>
  <button class="search" color="primary" mat-raised-button (click)="onSearchAll()">Afficher tous les clients</button>
</form>
<div class="result">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let client of clientdata">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3>#{{ client.clientId }} {{ client.lastName }} {{ client.firstName }}</h3>
        </mat-panel-title>
        <h4 *ngIf="client.active">Statut : Activé</h4>
        <h4 *ngIf="!client.active">Statut : Désactivé</h4>
      </mat-expansion-panel-header>
      <form class="clientForm" [formGroup]="clientForm">
        <mat-icon>account_box</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Nom" id="lastName" name="lastName" formControlName="lastName" value="{{client.lastName}}"><br>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Prénom" id="firstName" name="firstName" formControlName="firstName" value="{{client.firstName}}">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" id="age" name="age" formControlName="age" value="{{client.age}}">
        </mat-form-field>
        <mat-form-field *ngIf="edit && client.sex == 'MALE'">
            <input matInput placeholder="Sexe" id="sex" name="sex" formControlName="sex" value="Homme">
        </mat-form-field>
        <mat-form-field *ngIf="edit && client.sex == 'FEMALE'">
            <input matInput placeholder="Sexe" id="sex" name="sex" formControlName="sex" value="Femme">
        </mat-form-field>
        <mat-form-field *ngIf="edit && client.sex == 'OTHER'">
            <input matInput placeholder="Sexe" id="sex" name="sex" formControlName="sex" value="Autre">
        </mat-form-field>
        <mat-form-field *ngIf="edit && !client.sex">
            <input matInput placeholder="Sexe" id="sex" name="sex" formControlName="sex">
        </mat-form-field>
        <mat-form-field *ngIf="!edit">
          <mat-select placeholder="Sexe" id="sex" name="sex" formControlName="sex">
            <mat-option value="MALE">Homme</mat-option>
            <mat-option value="FEMALE">Femme</mat-option>
            <mat-option value="OTHER">Autre</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-icon>phone</mat-icon>
        <mat-form-field class="fullsize">
          <span matPrefix>+33 &nbsp;</span>
          <input matInput placeholder="Téléphone" id="phone" name="phone" formControlName="phone" value="{{client.phone}}">
        </mat-form-field>
        <br>
        <mat-icon>home</mat-icon>
        <mat-form-field class="fullsize">
          <input matInput placeholder="Adresse" id="address" name="address" formControlName="address" value="{{client.address}}">
        </mat-form-field>
        <br>
        <mat-icon>email</mat-icon>
        <mat-form-field class="fullsize">
          <input matInput placeholder="E-Mail" id="mail" name="mail" formControlName="mail" value="{{client.mail}}">
        </mat-form-field>
      </form>
      <button *ngIf="edit" mat-raised-button (click)="onEdit(client)">
        <mat-icon>edit</mat-icon>Modifier
      </button>
      <button *ngIf="!edit" mat-raised-button (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Annuler
      </button>
      <button *ngIf="!edit" color="primary" mat-raised-button (click)="onValidate()">
        <mat-icon>done</mat-icon>Valider
      </button>
      <button *ngIf="edit" mat-raised-button (click)="getMetadata(client.clientId)">
        <mat-icon>assignment</mat-icon>Ses Metadonnées
      </button>
      <button *ngIf="client.active && edit" mat-raised-button (click)="setActive(client, false)">
        <mat-icon>cancel</mat-icon>Désactiver le compte
      </button>
      <button *ngIf="!client.active && edit" mat-raised-button (click)="setActive(client, true)">
        <mat-icon>check_circle</mat-icon>Activer le compte
      </button>
      <button *ngIf="edit" color="warn" mat-raised-button (click)="onDelete(client.clientId)">
        <mat-icon>delete</mat-icon>Supprimer le compte
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  

